/* Slider */
.slider-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;

}


.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    height: 100vh;
    object-fit: cover;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.slick-slide img {
    width: 100%;
    height: 100vh;
    margin-top: 82px;
}

.slick-slide.dragging img {
    pointer-events: none;
    width: 100%;
    height: 100vh;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-slide > .slick-slider-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

.slick-slide .image {
    /*height: 180px;*/
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: 100vh;
}

.slick-slide img.slick-loading {
    display: none;
}


.slick-prev{
    width: 65px;
    border: none;
    border-radius: none;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    left: 115px;
    padding: 0.25em 0.5em;
    z-index: 400;
}

.slick-next{
    width: 65px;
    border: none;
    border-radius: none;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    right: 115px;
    padding: 0.25em 0.5em;
    z-index: 400;
}




/* ドット */


.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: inline-block !important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '●';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
